@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600;700&family=Poppins:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&family=Raleway:ital,wght@0,500;0,600;1,500&family=Roboto:ital,wght@0,400;0,700;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: #fff;
  font-size: .6rem;
  padding: 1.5rem 0;
}

.container {
  background: blue;
  padding: 4rem 0;
  display: grid;
  place-items: center;
  row-gap: 2em;
  color: #fff;
}
h2 {
  font-size: 2rem;
  margin: 1.5rem auto;
  text-align: center;
}
.field {
  width: 80%;
}
.container .contact form{
  font-size: .8rem;
}
.container .field form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .field form > * {
  width: 100%;
}
input {
  height: 2.7rem;
  margin-bottom: .7rem;
  outline: none;
  
  border: none;
  border-radius: .8em;
  padding: 0 1.8rem;
}
label {
  font-size: 1rem;
  margin: .8rem 0;
}
button,
textarea {
  margin-top: .8rem;
  width: 100%;
  padding: .8rem 1rem;
  border: none;
  border-radius: .8rem;
  outline: none;
}